venv
.idea
.vscode
.
*.pyc
__pycache__
stableconfigs/__pycache__
stableconfigs/common/__pycache__
stableconfigs/controller/__pycache__
stableconfigs/encoder/__pycache__
stableconfigs/decoder/__pycache__
stableconfigs/parser/__pycache__

test/__pycache__
